node_modules/

# Build artifacts
bin/
api
ui
unified
nyla-core
nyla-api
nyla-ui

# Environment configuration
.envrc

# sqlite
nyla.db*
data/

# Test coverage artifacts
coverage.out
coverage.html
*.coverprofile