localhost {
    # Reverse proxy to the UI
    reverse_proxy localhost:8080
}

api.localhost {
	# Reverse proxy all requests to API
	reverse_proxy localhost:9876
}

example.localhost {
    # Serve static files from js-collector/dist
	root * js-collector/dist
	file_server

	# Ensure index.html is served for SPA routes
	try_files {path} /index.html
}
